name: Lantify CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "bun"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Instalar dependências
        run: bun install --frozen-lockfile

      - name: Executar lint
        run: bunx biome lint

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "bun"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Instalar dependências
        run: bun install --frozen-lockfile

      - name: Build do projeto
        env:
          NODE_ENV: production
          REDIS_URL: ${{ secrets.REDIS_URL }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: bunx turbo build
